.tag__container {
  display: inline-block;
  cursor: pointer;
}

.tag {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  margin: 0 16px 16px 0;
  padding: 11px 13px;
  font-size: 16px;
  line-height: 120%;
  color: var(--black-400);
  cursor: pointer;
  border-radius: 8px;
  background-color: var(--black-700);
  transition: all linear 175ms;
}

.tag--active {
  color: var(--white);
  background-color: var(--primary);
}