.input__native {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    outline: inherit;
}

.input__wrapper {
    width: border-box;
    transition: all 350ms;
}

.input__container {
    position: relative;
    width: 100%;
}

.icon {
    position: absolute;
    z-index: 5;
    fill: var(--black-500);
}

.icon--active {
    fill: var(--white);
}

.left__icon {
    top: 12px;
    left: 16px;
}

.right__icon {
    top: 12px;
    right: 16px;
}

.right__icon--search {
    top: 22px;
    right: 22px;
}

.input__message {
    margin-top: 9px;
    font-size: 14px;
    line-height: 120%;
    color: var(--black-500);
}

.input__message--error {
    color: var(--error);
}

.input {
    width: 100%;
    min-width: 200px;
    padding: 11px 16px;
    z-index: 1;
    border-radius: 8px;
    transition: all linear 175ms;

    font-size: 18px;
    color: var(--white);
    background-color: var(--black-700);
}

.input--search {
    padding: 11px 18px 11px 20px;
    margin-bottom: 0;
    border-radius: 44px;
}

.input--rightIcon {
    padding-right: 60px;
}

.input--leftIcon {
    padding-left: 50px;
}

.input__error {
    border: 1px solid var(--error);
}

.input--multiline {
    resize: none;
    overflow-y: hidden;
    min-height: 100px;
}

.input__label {
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 120%;
    color: var(--black-500);
    transition: all linear 350ms;
}