.main__header {

}

.main__tabs,
.main__tags {
    display: flex;
    justify-content: flex-start;
}

.main__tabs {
    margin-bottom: 38px;
}

.main__tags {
    margin-bottom: 28px;
}

.tags__gap {
    display: block;
    margin: 4px 18px 0 8px;
    width: 2px;
    height: 32px;
    background-color: var(--black-600);
}

.main__tab {
    margin-right: 28px;
    padding: 0;
    outline: none;
    border: none;
    cursor: pointer;
    background: none;
    font-weight: bold;
    font-size: 1.8em;
    line-height: 120%;
    color: var(--black-600);
    transition: all linear 175ms;
}

.main__tab:hover {
    color: var(--black-400);
}

.main__tab--active,
.main__tab--active:hover {
    color: var(--white);
}