.feed {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 270px);
  padding: 0;
  margin: 0 0 0 28px;
}

.feed__loader {
  position: absolute;
  top: 50%;
  left: 50%;
  scale: 4;
}