.navigation {
    position: relative;
    border-bottom-right-radius: 50px;
}

.navigation::before {
    content: "";
    position: absolute;
    top: 90px;
    left: 0;
    border-top-left-radius: 50px;
    height: 50px;
    width: 50px;
    background-color: var(--blue);
    transform: rotate(180deg);
}

.mainButton {
    position: relative;
    flex-shrink: 2;
    padding: 10px 0;
    text-decoration: none;
    text-transform: none;
    color: var(--white);
    font-size: 24px;
    font-weight: bold;
    line-height: 26px;
    transition: all linear 350ms;
}

.mainButton::before {
    position: absolute;
    content: "+";
    color: var(--danger);
    font-size: 100px;
    top: 12px;
    left: -80px;
}

.mainButton--semi {
    font-size: 16px;
    line-height: 18px;
}

.mainButton--small {
    font-size: 9px;
    line-height: 11px;
}

.linkButton {
    position: relative;
    flex-shrink: 2;
    padding: 10px 0;
    text-decoration: none;
    text-transform: none;
    color: var(--white);
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    transition: all linear 350ms;
}