.navigation {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px 140px;
    height: 84px;
    background-color: var(--black-800);
}

.tab {
    margin: 0 12px;
    padding: 10px;
    text-decoration: none;
    text-transform: none;
    color: var(--white);
    font-size: 16px;
    line-height: 120%;
    transition: all linear 350ms;
}

.tab:hover {
    color: var(--white);
}

.tab--active {
    background-color: var(--primary-500);
    border-radius: 4px;
}

.tab--active:hover {
    background-color: var(--primary-700);
    color: var(--white);
}

/*.navigation::before {*/
/*    content: "";*/
/*    position: absolute;*/
/*    top: 90px;*/
/*    left: 0;*/
/*    border-top-left-radius: 50px;*/
/*    height: 50px;*/
/*    width: 50px;*/
/*    background-color: var(--blue);*/
/*    transform: rotate(180deg);*/
/*}*/

/*.mainButton {*/
/*    position: relative;*/
/*    flex-shrink: 2;*/
/*    padding: 10px 0;*/
/*    text-decoration: none;*/
/*    text-transform: none;*/
/*    color: var(--white);*/
/*    font-size: 24px;*/
/*    font-weight: bold;*/
/*    line-height: 26px;*/
/*    transition: all linear 350ms;*/
/*}*/

/*.mainButton::before {*/
/*    position: absolute;*/
/*    content: "+";*/
/*    color: var(--danger);*/
/*    font-size: 100px;*/
/*    top: 12px;*/
/*    left: -80px;*/
/*}*/

/*.mainButton--semi {*/
/*    font-size: 16px;*/
/*    line-height: 18px;*/
/*}*/

/*.mainButton--small {*/
/*    font-size: 9px;*/
/*    line-height: 11px;*/
/*}*/

/*.linkButton {*/
/*    position: relative;*/
/*    flex-shrink: 2;*/
/*    padding: 10px 0;*/
/*    text-decoration: none;*/
/*    text-transform: none;*/
/*    color: var(--white);*/
/*    font-size: 18px;*/
/*    font-weight: bold;*/
/*    line-height: 20px;*/
/*    transition: all linear 350ms;*/
/*}*/