.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 7vw;
    height: 84px;
    background-color: var(--black-800);
}

.tab,
.logo__button {
    margin: 0 12px;
    padding: 10px;
    text-decoration: none;
    text-transform: none;
    color: var(--white);
    font-size: 16px;
    line-height: 120%;
    transition: all linear 350ms;
}

.logo__button {
    margin-right: 28px;
    padding: 0;
    width: 74px;
    height: 44px;
    background: url("../../icons/logo.m.svg") no-repeat;
}

.tab:hover {
    color: var(--white);
}

.tab--active {
    background-color: var(--primary-500);
    border-radius: 4px;
}

.tab--active:hover {
    background-color: var(--primary-700);
    color: var(--white);
}

.tab__block {
    display: flex;
    align-items: center;
}

.search__input {
    margin-top: 10px;
    align-items: center;
    width: 50vw;
}

.profile--mini {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: baseline;
    width: 44px;
    min-width: 44px;
    height: 44px;
    min-height: 44px;
    cursor: pointer;
    background-color: var(--black-400);
    border-radius: 50%;
}