.image__container {
  position: relative;
  margin-bottom: 20px;
  border-radius: 12px;
}

.image__container--loading {
  min-width: 780px;
  min-height: 700px;
}

.image__loader {
  position: absolute;
  top: 50%;
  left: 50%;
  scale: 2;
}

.image {
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-clip: border-box;
  border-radius: 12px;
  transition: height linear 175ms;
}

.image__delete {
  position: absolute;
  bottom: 32px;
  right: 32px;
}

.image__save {
  position: absolute;
  top: 32px;
  right: 32px;
}

.image__sort {
  position: absolute;
  top: 32px;
  right: 32px;
}

.sort__button {
  position: relative;
  margin-bottom: 8px;
  padding: 8px;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: var(--black-800);
}

.sort__button:first-child {
  rotate: 180deg;
}

.sort__icon {
  position: absolute;
  top: 16px;
  left: 12px;
}

.sort__disabled {
  fill: var(--black-500);
}